h1{
    font-family: Arial, serif; /* Ideal font would be: Identikal san serif bold*/
    color: aliceblue;
    font-size: 57.5px;

}
.poster{
    width: 354px;
    background-color: #595959;
    background-image: linear-gradient(#595959, gray, #595959);
    height: 500px;
}

#heading{
    padding-top: 25px;
    padding-left: 20px;
    margin-bottom: 5px;
}

.inner-block-yellow{
    /*background-color: yellow;*/
    /*background-color: #ffdb58;*/
    background-color: #ffc229;
    margin-left: 1.5px;
    padding-left: 20px;
    width: 300px;
    padding-bottom: 10px;
}

#date{
    padding-top: 10px;
    padding-bottom: 4px;
    border-bottom: solid thin black;
    margin-bottom: 50px;
    margin-right: 15px;
}

h5{
    font-family: Arial, serif;
    margin: 0px;
}

h3{
    font-family: Arial, serif;
    margin: 0px;
}

#title{
    padding-bottom: 4px;
    border-bottom: solid thin black;
    margin-bottom: 4px;
    margin-right: 15px;
}