h1{
    font-family: Calibri;
    text-align: center;
}

h2{
    font-family: Calibri;
    /*text-align: center;*/
    text-align: center;
    display: inline-block;
}

.clock{
    text-align: center;
}

.buttons{
    text-align: center;
}

#laps{
    margin-top: 15px;

    margin: auto;
    font-family: Calibri;
    width: 20%;
}

th, td{
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

tr:hover, tr:nth-child(even){
    background-color: lightgray;
    color: black;
}


button{
    text-align: center;
    font-family: Calibri;
    font-size: 20px;
    background-color: lightgray;
    /*border: none;*/
    border: solid lightgray;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 20px;
}

button:hover{
    border: solid lightgray;
    background-color: white;
    transition-duration: 0.25s;
}

button:active{
    background-color: gray;
}